/* CSS Document */		
	/* 中间部分 */
	#mcenter{width:980px;float:left;}
		#tit{ height:33px; width:980px;_width:970px;float:left; background-image:url(../images/hot_middle.gif);margin-bottom:8px;}
			#left{ width:5px;float:left;}
			#middle{ width:300px;float:left;line-height:33px;text-indent:24px;font-weight:bold;color:#FFFFFF; background-image:url(../images/dot4.gif); background-repeat:no-repeat; background-position:6px 11px;}
				#middle a{color:#FFFFFF;font-size:12px; text-decoration:none;}
			#right{width:5px; float:right;}
		#content{margin:20px auto;line-height:24px;font-size:12px; width:960px;}
			#content p{font-size:12px;margin-top:10px;}
			#content .step{border-bottom: 1px solid #F7DD77; background-image:url(../images/step_bg.gif); background-repeat:no-repeat; background-position:left; height:30px; font-size:14px; font-weight:bold;color:#FF4800;text-indent:18px; line-height:30px; width:900px;}
			#content .selector{ margin-left:200px;margin-top:20px;margin-bottom:20px;line-height:24px;}
			#content .box{ border:1px dashed #FECF75;color:#FF4E00; background-color:#FFF4C9; width:600px;margin-left:40px;text-indent:20px;}
			#dsline{ border-bottom:1px dashed #DFDFDF;} 
	h1{font-weight:bold;font-size:12px;color:#FF6600;line-height:40px;}

			

	