/* CSS Document */		
	/* 中间部分 */
	#mcenter{width:980px;float:left;}
		#tit{ height:33px; width:980px;_width:970px;float:left; background-image:url(../images/hot_middle.gif);margin-bottom:8px;}
			#left{ width:5px;float:left;}
			#middle{ width:300px;float:left;line-height:33px;text-indent:24px;font-weight:bold;color:#FFFFFF; background-image:url(../images/dot4.gif); background-repeat:no-repeat; background-position:6px 11px;}
				#middle a{color:#FFFFFF;font-size:12px; text-decoration:none;}
			#right{width:5px; float:right;}
		#content{margin:20px auto;line-height:24px;font-size:12px;width:900px;clear:both;height:auto;font-weight:normal;float:left;}
			#content th{ color:#2591b7;font-weight:normal;}
			#content td{color:#000000;font-weight:normal;}
			

	